# Entorno virtual
venv/
.venv/
env/

# Secretos y credenciales
.env
*.env

# Base de datos SQLite y proyecto DB Browser
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.sqbpro
comedor.db/n

# Reportes y archivos generados
reporte_*.xlsx
*.xlsx
*.pdf

# Cache de Python
__pycache__/
*.py[cod]

# IDEs y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db

*.mp3
*.jpg
*.png
